*{
    background-color: #333333;
    color: white;
}
#book-form{
    padding: 40px;
    
}
#book-list{
    padding: 20px 40px 20px 40px;
    
    justify-content: center;
    

}
#book-table{
    width: 50vw;
    
    text-align: center;
    
}
th,td,tr{
    border: 1px solid tomato;
}
